

form{  
    background-color: #eee;
    color:rgb(14, 56, 100);
    padding:20px 10px;
    max-width: 320px;
    border: 1px solid ddd;
    border-radius: 0 0 1000px 0 ;
}

form fieldset {
            display: flex;
            align-items: center;
            border: 0;
        
        }

        form fieldset:nth-child(odd) {
            
        }

        form fieldset:nth-child(even) {
            
        }

        form fieldset label {
            width: 30%;
            text-align: right;
            font-family: Arial;
            font-size: 12px
        }

        form fieldset input#agreepolicy [type="checkbox"] {
            width: 20px !important
        }

        form fieldset input,
        form fieldset select {
            width: 40%;
            padding: 4px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        #mycanvas {
            border:1px dotted #c0b2b2;
            width: 40%;
        }

        form fieldset label,
        form fieldset input {
            margin: 0 5px;
        }


        div#themeText {
            font-size: 15px;
            padding-left: 15px
        }

        .error {
            border: 1px solid red
        }


        input#check{
            background-color:cornflowerblue;
            height: 36px
        }
        input#submit{
            background-color: chartreuse;
            height: 36px
        }

        *::placeholder {
  color: #6600FF;
  opacity: 0.5;
  letter-spacing: 0.4px
  
}