 .menu-toggle {
     display: none;
 }

 .hamburger {
     position: fixed;
     top: 20px;
     right: 20px;
     font-size: 2.1rem;
     cursor: pointer;
     z-index: 10;
     background: transparent;
     border: none;
     color: #333;
 }

 .circle-menu {
     position: fixed;
     top: 0;
     right: 0;
     transform: translate(15%, -15%);
     width: 0;
     height: 0;
     border-radius: 50%;
     background-color: #3498db;
     transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
     overflow: hidden;
     visibility: hidden;
 }

 .menu {
     list-style: none;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: left;
     padding: 20px 0 0 80px;
     height: 100%;
     margin: 0;
 }

 .menu li {
     margin: 5px 0;
 }

 .menu a {
     color: white;
     text-decoration: none;
     font-size: 1.4rem;
 }

 .menu-toggle+.hamburger>.clo {
     display: none
 }

 .menu-toggle:checked+.hamburger>.opn {
     display: none
 }

 .menu-toggle:checked+.hamburger>.clo {
     display: block
 }

 .menu-toggle:checked+.hamburger+.circle-menu {
     width: 250px;
     height: 250px;
     visibility: visible;
 }