
* {box-sizing: border-box; margin: 0; padding: 0;}

#logo{
  width: 200px
}

main {
  width: 70%;
  float:left;
}
#images-main img{
  width: 50%
}

aside {
  width: 25%;
  float:left;
}
.slides {
  width: 120px
}
.slides img{
  width:100px
}
footer {
  clear: both;
  margin-top: 20px;
}

  .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}