* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0a0a0a
}

h1,
h2 {
  font-family: "open-sans-condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 2.6rem;
  line-height: 1;
  font-style: italic;
  margin: 20px 0
}

h1 {
  color: #0a0a0a
}

h2 {
  color: #a8c103;
}

p {
  margin-bottom: 10px;
  line-height: 1.2;
}

.wide {
  width: 800px;
}

.fullwidth {
  width: 100%;
}

.highlighted {
  font-family: "oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.openable {
  width: 100%;
  padding: 30px;
  display: none;
  background-color: white;
  border: 1px dotted #010101;
  overflow: hidden;
}

.typing {
  font-family: "open-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.button {
  font: normal 400 18px "abolition", sans-serif;
  display: block;
  padding: 4px 10px;
  float: right;
  width: 90px;
  text-align: center;
  border: 1px solid #010101;
  border-radius: 3px;
  text-decoration: none;
  color: #0a0a0a;
  margin: 0px 60px 0 0;
}

#logo {
  width: 200px
}

#translations {
  display: flex;
  flex-direction: row;
  gap: 5px
}


#translations a img {
  width: 24px;
  height: auto;
}

#translations img#ch {
  margin-top: 3px
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  /*  border: dashed 1px greenyellow;*/
}

#menu {
  position: fixed;
  top: -40px;
  right: -40px;
  padding: 40px 20px;
  width: 100px;
  height: 100px;
  background: #ecec4a;
  border: 1px solid #ecec4a;
  border-radius: 50px;
}

aside#currencies {
  width: 240px;
  float: left;
  margin-top: 20px;
  margin-left: 30px;
}

aside#currencies p {
  display: flex;
  flex-flow: column;
  font-family: "oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 1.2;
}

aside#currencies p span::first-letter {
  color: #ad22e7
}

aside h2 {
  font-size: 1.9rem;
}

footer {
  clear: both;
  width: 1240px;
  margin: 40px 0 20px;
}

footer #button-concent {
  background: url('../images/Consent.png') no-repeat;
  background-size: 60%;
  background-position: 50%;
  width: 92px;
  height: 24px;
  padding: 0px;
  border: 1px solid #010101;
  border-radius: 3px;
  display: block;
  float: right;
  font-size: 0;
  cursor: pointer
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}