
* {box-sizing: border-box; margin: 0; padding: 0;}

#logo{
  width: 200px
}



#transactions a{
  margin: 0px 5px;
  display: inline-block;
}


#transactions img{
  width: 24px;
  height: auto;
}

main {
  width: 70%;
  float:left;
}

#images-main {
width:100%;
font-size: 0;
}
#images-main .img{
  width: 50%;
  display: inline-block;
}
#images-main .img img{
  width: 100%;
}

aside {
  width: 25%;
  float:right;
}
.slides {
  width: 120px
}
.slides img{
  width:100px
}

.more {
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
}

.more hr{
  width: 90%;
  display: inline-block;
}

.more span{
  width: 7%;
  display: inline-block;
}

footer {
  clear: both;
  margin-top: 20px;
}

  .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}