
* {box-sizing: border-box; margin: 0; padding: 0;}


body {
font-family: "open-sans", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 14px;
color:#0a0a0a
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

#menu{
  position: fixed;
  top: -40px;
  right: -40px;
  padding: 40px 20px;
  width: 100px;
  height: 100px;
  background:#ecec4a;
  border:1px solid #ecec4a;
  border-radius:50px;
}

main {
  width: 900px;
  float: left;
}

#about-main div:nth-of-type(1) p{
font-family: "open-sans", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 14px;
color:#0a0a0a
}

#about-main div:nth-of-type(2) p{
-webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            text-align: justify;
font-family: "open-sans", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 14px;
color:#0a0a0a
}

aside {
  width: 300px;
  float: left;
}


h1, h2 {
  font-family: "open-sans-condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 36px;
  font-style: italic;
  margin: 20px 0
}

h1 {
 color:#0a0a0a
}

h2{
  color:#a8c103;
  line-height: 1;
}

.button{
font-family: "abolition", sans-serif;
font-weight: 400;
font-style: normal;
}


aside h2{
  font-size: 27px; 
}

aside #slider h2{
  color:#7cbee7
}

aside #news h2{
  color:#aff5c9
}
aside #news a{
  color:#13dd5f;
  text-decoration: none;
}
aside #news a span{
font-family: "abolition", sans-serif;
font-size: 22px;
font-weight: 400;
font-style: normal;
color:#13dd5f;
}



.highlighted {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}


.typing {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

#logo{
  width: 200px
}



#translations{
  display: flex;
  flex-direction: row;
  gap: 5px
}


#translations a img{
  width: 24px;
  height: auto;
}

#translations img#ch{
  margin-top: 3px 
}


#images-main {
width:100%;
font-size: 0;
}
#images-main .img{
  width: 50%;
  display: inline-block;
}
#images-main .img img{
  width: 100%;
}


.slides {
  width: 120px
}
.slides img{
  width:100px
}

.more {
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
}

.more hr{
  width: 90%;
  color: #fff;
  display: inline-block;
  border-top: 1px dashed greenyellow;
 padding: 6px 0 0px;
}

.more span{
  width: 7%;
  display: inline-block;
}

footer {
  clear: both;
  margin-top: 20px;
}

  .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}