body{
    background-color: aqua;
}

a {font-family: Arial; font-size:12px; text-decoration: underline;}

  .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}